<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<!--<script type="text/javascript" src="/static/js/login.js"></script>--!>
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<title>{% block title %}GridInfo's Tickets{% endblock %}</title>
</head>
<body>
<h1>GridInfo's Tickets</h1>
{% block content %}
<a href="login_form">Sign IN</a>
{% endblock %}
{% block footer %}
<hr>
<p>Copyright 2015 GridInfo</p>
<p>Power By Django-1.7.5</p>
{% endblock %}
</body>
</html>
