{% extends "index.html" %}
{% block content %}
<hr>
<div>
<a href="/my_tickets/select/server/" class="button success">服务器权限</a>
<a href="/my_tickets/select/upgrade/" class="button success">系统升级</a>
<a href="/my_tickets/select/virtual/" class="button success">虚拟机申请</a>
<a href="/my_tickets/select/update/" class="button success">数据更新</a>
<a href="/my_tickets/select/fix/" class="button success">修复BUG</a>
</div>
<hr>
<table>
<tr>
<th>工单类型</th>
<th>工单内容</th>
<th>提交时间</th>
</tr>
{% for i in server %}
<tr>
<td>{{i.tic_type}}</td>
{%if i.tic_type == "virtual"%}
<td>{{i.sys}}</td>
{%else%}
<td>{{i.name}}</td>
{%endif%}
<td>{{i.create_time}}</td>
<td><a href="/reply/{{i.tic_id}}">查看</td>
</tr>
{% endfor %}
</table>
{% endblock%}
